/* HOME SCREEN CSS*/

nav{
    background-color: #403C36;
}

.navbarFlex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding: 1%;
}

.navbarText:hover, .navbarIcon:hover{
    color: #FFFFFF;
    transition: 0.4s;
}

.navbarText, .navbarIcon{
    color: #A69B8F;
    transition: 0.4s;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}

.navbarIcons, .navbarItems{
    display:flex;
    justify-content: space-between;
}

.navbarItems{
    gap: 70px;
}

.navbarIcons{
    gap: 30px;
}

.bodyFlex{
    background-color: #59544A;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.bodyText{
    color: #BFB5A8;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: larger;
    width: 55%;
    align-self: center;
}

.geschiedenis, .trabzonspor{
    display: flex;
    justify-content: space-between;
    padding: 4%;
    align-items: center;
}

.gameOfThrones{
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #403C36;
}

.image, .got{
    width: 15%;
    border-radius: 12px;
}

.ts61{
    width: 20%;
    border-radius: 12px;
}

.footerAll{
    background-color: #403C36;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footerText{
    color: #BFB5A8;
    padding: 2%;
}

.footerLink{
    text-decoration: none;
    color: inherit
}

.footerLink:hover{
    color: #FFFFFF;
    transition: 0.4s;
}

@media only screen and (max-width: 520px) {
    .navbarFlex {
        flex-direction: column;
        gap: 40px;
    }

    .navbarItems{
        gap: 50px;
    }

    .navbarIcons {
        padding: 0 20%;
    }

    .navbarItems {
        flex-direction: column;
        align-items: center;
    }

    .bodyText{
        width: 80%;
    }

    .gameOfThrones{
        flex-wrap: nowrap;
        padding: 4%;
    }

    .image{
        width: 40%;
        height: 40%;
        margin-left: 10%;
    }

    .ts61{
        width: 40%;
        height: 40%;
        margin-left: 10%;
    }

    .got{
        width: 40%;
        height: 40%;
        margin-right: 6%;
    }
  }