/* Projecten CSS*/

nav{
    background-color: #403C36;
}

.navbarFlex{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    padding: 1%;
}

.navbarText:hover, .navbarIcon:hover{
    color: #D7D9D7;
    transition: 0.4s;
}

.navbarText, .navbarIcon{
    color: #A69B8F;
    transition: 0.4s;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}

.navbarIcons, .navbarItems{
    display:flex;
    justify-content: space-between;
}

.navbarItems{
    gap: 70px;
}

.navbarIcons{
    gap: 30px;
}

.bodyFlex{
    background-color: #59544A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bodyName{
    color: #BFB5A8;
    margin: 4%;
    font-weight: bolder;
    text-align: center;
    text-shadow: 1px 1px 2px #b0a79b;
}

.projectTextAdventure{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #403C36;
    color: #BFB5A8;
    padding-top: 4%;
    padding-bottom: 4%;
}

.allTitle{
    text-shadow: 1px 1px 2px #b0a79b;
    padding-bottom: 1%;
}

.projectTextAdventureImage{
    border-radius: 12px;
    width: 25%;
    height: 25%;
}

.allTekst{
    text-align: center;
    width: 61%;
    font-size: large;
    padding-top: 1%;
    padding-bottom: 1%;
}

.projectTextAdventureButton{
    border-radius: 12px;
    background-color: #BFB5A8;
    color: #403C36;
}

.projectArcadeGame{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #BFB5A8;
    padding-top: 4%;
    padding-bottom: 4%;
}

.arcadeGameButton{
    border-radius: 12px;
    background-color: #403C36;
    color: #BFB5A8;
}

.projectArcadeGameImage{
    width: 15%;
    height: 15%;
    border-radius: 12px;
}

.footerAll{
    background-color: #59544A;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.footerText{
    color: #BFB5A8;
    padding: 2%;
}

.footerLink{
    text-decoration: none;
    color: inherit
}

@media only screen and (max-width: 520px) {
    .navbarFlex {
        flex-direction: column;
        gap: 40px;
    }

    .navbarItems{
        gap: 50px;
    }

    .navbarIcons {
        padding: 0 20%;
    }

    .navbarItems {
        flex-direction: column;
        align-items: center;
    }

    .bodyName{
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .allTitle{
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .image{
        width: 61%;
        height: 61%;
    }

    .allTekst{
        width: 90%;
        padding-top: 5%;
    }
}